@font-face{
    font-family: ibmpmedium;
    src: url(/IBMPlexSans-Medium.ttf);
}

body{
    background-color: #EBE8E4;
}

h1 {
    font-family: ibmpmedium;
    text-align: center;
}

p {
    font-family: ibmpmedium;
    text-align: center;
}

#container-textarea {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

textarea {
    background-color: rgb(219, 212, 212);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"]{
    width: 100px;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: 20px;
}

footer{
    font-family: ibmpmedium;
}

i{
   margin: 0 20px;
}

.sommaire{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.sommaire a{
    color: white;
    text-decoration: none;
    
}
/* .sommairefooter a{
    color: white;
    text-decoration: none;
    display: flex; justify-content: start;
}

.sommaire2 a{
    color: white;
    text-decoration: none;
    display: flex; justify-content: center;
}

.sommaire3 a{
    color: white;
    text-decoration: none;
    display: flex; justify-content: end;
} */

#acc{
    color:#CED0CE;
}
#acc:hover{
    color: #CF4A6A;
}

#MOC{
    color:#CED0CE;
}
#MOC:hover{
    color: #CF4A6A;
}

.icone a{
    color: white;
} 

.noiricone a{
    color: black;
}

#ic-noir:hover{
    scale: 1.2;
}

#ic-blanc:hover{
    scale: 1.2;
}

.pays{
    color: white;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: space-between; */
    text-align: left;
}

.logo-container{
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
 }