/* police */
/* @font-face{
    font-family: IBMPmedium;
    src: url(/Police/IBMPlexSans-Medium.ttf);
}
@font-face {
    font-family: IBMPbold;
    src: url(/Police/IBMPlexSans-Bold.ttf);
} */


/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}


/* souligner en couleur hover  */
header a:hover {
    border-bottom: 3px #CF4A6A solid;
    scale:1.1;
}


 /* .header-arrondi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    align-items: center;
     z-index: -1;    
  }  */


 .header-arrondi
 {
    content: '';
    display: block;
    width: 140%;
    height: 400px; 
     border-bottom-left-radius: 50%; 
     border-bottom-right-radius: 50%; 
     background-image: linear-gradient(to bottom, #ff94ad44, #ce3e60d7); 
     /* margin-top: -200px; */
     } 








{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box
{
    position: relative;
    width: 380px;
    height: 550px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #CF4A6A, #CF4A6A, #CF4A6A);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    transparent, #CF4A6A, #CF4A6A, #CF4A6A);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

 .borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before
{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent,
        transparent, #F0913D, #F0913D, #F0913D);
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -1,5s;
} 
.borderLine::after
{
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent,
        transparent, #F0913D, #F0913D, #F0913D);
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -4.5s;


}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

/* forme blanche centre */
.box form{
position: absolute;
inset: 4px;
background: white;
padding: 50px 40px;
border-radius: 8px;
z-index: 2;
display: flex;
flex-direction: column;
}


.box form h2{
    color: black;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Inter', sans-serif;
}

.textecentre1 {
    text-align: center; /* Pour centrer le texte */
    font-family: 'Inter', sans-serif;
}


.box form .inputBox
{
    position: relative;
    width: 300px;
    /* padding: 20px 10px 10px; */
    margin-top: 35px;
    /* background: transparent;
    outline: none;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10; */
}

.box form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    /* color:#CF4A6A; */
    font-size: 1em;
    letter-spacing: 0.05em;
transition: 0.05s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color:black;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(228, 227, 227);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}

.box form .links
{
display: flex;
justify-content: space-between;
}

.box form .links a
{
    margin: 10px 0;
    font-size: 0.75em;
    color: black;
    /* text-decoration: none; */
}

/* couleur hover s'inscrire */
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color:#CF4A6A;
}


.box form .inputBox input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form input[type="submit"]:active
{
    opacity: 0.8;
}