header{

    background-color: black;
    padding: 20px;
}


.logo-container{

    display: flex;
     justify-content: center;
     align-items: center;
   
 }

.button-connexion{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}